
.order {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 35px);
    color: white;
}

.order_content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px;
    overflow: hidden;
}

.order_header {
    font-size: 22px;
    margin-bottom: 5px;
}

.order_header_wrapper {
    display: flex;
    justify-content: end;
    margin-top: 5px;
}

.order_header_buttons {
    display: flex;
    gap: 10px;
    font-size: 20px;
}

.order_header_buttons :nth-child(2) {
    background-color: mediumseagreen;
    padding: 9px;
    height: 17px;
    width: 30px;
    border-radius: 3px;
}

.order_header_buttons :nth-child(1) {
    padding: 10px;
    background-color: crimson;
    height: 15px;
    width: 30px;
    border-radius: 3px;
}

.order_header_table_name {
    background-color: indianred;
}

.order_current {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.order_current_items {
    min-height: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    border-bottom: 1px white;
    padding: 3px 0;
}

.order_current_custom {
    min-height: 20px;
    display: flex;
    align-items: start;
    width: 100%;
    border-top: 1px dashed white;
    padding: 3px 0;
}

.order_meals {
    display: flex;
    box-sizing: border-box;
    max-height: 100%;
    overflow-y: hidden;
    flex-direction: column;
    padding-bottom: 10px;
}

.order_meals_divider {
    margin: 4px 8px;
    border-bottom: 2px solid white;
}

.order_meals_list {
    display: flex;
    overflow-y: scroll;
    max-height: 100%;
    flex-direction: column;
}

.order_meals_next_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    margin: 10px auto;
    background-color: white;
    color: black;
    font-weight: normal;
    border-radius: 3px;
}

.meal_wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 10px 0;
    padding: 10px 0;
}

.order_item_wrapper {
    display: flex;
    flex-direction: column;
    
}

.meal_wrapper_active {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 10px 0;
    padding: 10px 0;
    background-color: darkslategray;
    border-radius: 10px;
}

.order_item_message {
    display: flex;
}

.order_item_meals {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.oder_item_divider {
    margin-right: 10px;
    margin-top: 5px;
    background-color: white;
    height: 1px;
}