
.orderListItem {
    display: flex;
    align-items: center;
    padding: 8px 0px;
    border-bottom: 1px solid crimson;
    overflow: hidden;
}

.orderItem_remove {
    margin: 5px 10px 0 5px;
}

.meal_wrapper {
    display: flex;
}

.meals_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.orderListItem_custom_message {
    text-align: start;
    text-wrap: wrap;
    border-top: 1px solid white;
    padding-top: 3px;
    margin-top: 4px;
}