
.table_order_item_wrapper {
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    width: 100%;
}

.table_order_item_index {
    font-size: 20px;
    margin: 5px;
}

.table_order_item_content {
    width: 100%;
}

.table_order_item_details {
    display: flex;
}

.table_order_item {
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.table_order_item_price {
    margin-left: auto;
}

.tables_order_item_meals {
    padding: 3px 0;
    display: flex;
    flex-wrap: wrap;
}

.table_order_item_message {
    padding: 3px 0;
    display: flex;
    word-break: break-word;
    width: 100%;
    border-top: 1px dashed white;
}